* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 50px auto;
}

.submit-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.submit-btn {
    padding: 7px 15px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background: #ccc;
    }
}

.outer-box {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
}

.box-overlay {
    width: 100%;
    background: #ccc;
    // height: 60%;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}