* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 50px auto;
}

.submit-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#submit-btn {
    padding: 7px 15px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background: #ccc;
    }
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 50px auto;
}

.outer-box {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.img {
    width: 100%;
    height: 100%;
}

.box-overlay {
    width: 100%;
    height: 100%;
    background: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
}

.retry-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6px 16px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.hide {
    display: none;
}